.addWindow {
    width: 1200px;
    height: 530px;
    padding: 5px;
    border: 1px solid black;
    position: fixed;
    border-radius: 10px;
    top: 111px;
    left: 114px;
    visibility: hidden;
}

.openAddWindow {
    visibility: visible;
    background-color: #eeeeee;
}

form.addForm {
    display: flex;
    flex-direction: column;
    height: 530px;
}

form.addForm div {
    flex-grow: 2;
}

form.addForm div:last-child {
    flex-grow: 0;
}

input.size {
    font-size: 14px;
}

.title {
    color: blue;
}

.secTitle {
    color: #2986cc;
}

.background {
    opacity: 0.1;
}